<section class="footer">
    <a href="" class="logo">
        <i class='bx bxs-movie'></i> Twice
    </a>
    <div class="social">
        <a href=""><i class='bx bxl-facebook' ></i></a>
        <a href=""><i class='bx bxl-instagram' ></i></a>
        <a href=""><i class='bx bxl-whatsapp' ></i></a>
        <a href=""><i class='bx bxl-telegram' ></i></a>
    </div>
</section>

<div class="copyright">
    <p>&#169; Binus Reject All Right Reserved</p>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="js/main.js"></script>