
<header>
    <a href="" class="logo">
        <i class='bx bxs-movie'></i> Twice
    </a>
    <div class="bx bx-menu" id="menu-icon"></div>

    <ul class="navbar">
        <li><a href="/#home" class="home-active" >Home</a></li>
        <li><a href="/#movies">Movies</a></li>
        <li><a href="/#coming">Coming Soon</a></li>
        <li><a href="/#free">Free Movies</a></li>
        <div class="search-container">
            <form>
              <input type="text" placeholder="Search.." name="search">
              <button type="submit"><i class='bx bx-search'></i></button>
            </form>
          </div>
    </ul>
        
        <a href="/login" class="btn">Log In</a>

    

</header>
