
<header>
    <a href="" class="logo">
        <i class='bx bxs-movie'></i> Twice
    </a>
    <div class="bx bx-menu" id="menu-icon"></div>

    <ul class="navbar">
        <li><a href="/#home" class="home-active" >Home</a></li>
        <li><a href="/#movies">Movies</a></li>
        <li><a href="/#coming">Coming Soon</a></li>
        <li><a href="/#free">Free Movies</a></li>
        <input type="text" placeholder="Search..">
    </ul>

        <a href="/logout" class="btn" >Logout</a>

</header>
