<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twice</title>
    <link rel="stylesheet" href="css/comingsoon.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="icon" href="img/movie-solid-24.png" type="image/x-icon">
</head>
<body>
    
    <% if (isLoggedIn) { %>
        <%- include('layouts/header_logout.ejs') %>
      <% } else { %>
        <%- include('layouts/header_login.ejs') %>
      <% } %>
      


    <section class="movie-banner">
        <div class="m-banner-img">
            <img src="img/ls gyeong.jpg">
        </div>

        <div class="banner-container">

            <div class="title-container">

                <div class="title-top">

                    <div class="movie-title">
                        <h1>Gyeongseong Creature </h1>
                    </div>

                    <div class="more-about-movie">
                        <span class="quality">Full HD</span>
                        <div class="rating">
                            3.5 <i class='bx bxs-star' ></i> <i class='bx bxs-star' ></i> <i class='bx bxs-star' ></i> <i class='bx bxs-star-half' ></i> <i class='bx bx-star' ></i>
                        </div>
                        <span>21 juli 2004</span>
                        <span>2h 30m</span>
                    </div>

                    <div class="language">
                        <span>English</span>
                    </div>

                </div>

                <div class="title-bottom">
                    <div class="category">
                        <strong>Category</strong> <br>
                        <a href="#">Horror</a>, <a href="#">Thriller</a>, <a href="#">Action</a>
                    </div>
                    <a href="#" class="watch-btn">Watch Trailer</a>
                </div>

            </div>
            
        </div>
    </section>  


    <section class="movie-details">
        <strong>Gyeongseong Creature</strong>
        <p>Gyeongseong Creature adalah seri televisi Korea Selatan yang akan datang yang dibintangi oleh Park Seo-joon dan Han So-hee. Berlatarbelakang pada musim semi tahun 1945, ketika Gyeongseong, berada di era tergelapnya, seri ini menggambarkan kisah orang-orang yang bertarung sengit di perbatasan antara hidup dan mati.</p>

    </section>

    <!-- footer -->

    
    <%- include('layouts/footer.ejs') %> 
</body>
</html>